USE [master]
GO
/****** Object:  Database [CurrencyIRbot]    Script Date: 11/10/2018 1:59:39 PM ******/
CREATE DATABASE [CurrencyIRbot]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CurrencyIRbot', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CurrencyIRbot.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CurrencyIRbot_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CurrencyIRbot_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CurrencyIRbot].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CurrencyIRbot]
GO
/****** Object:  Table [dbo].[member]    Script Date: 11/10/2018 1:59:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[member](
	[member_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[isMember] [datetime] NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_member] PRIMARY KEY CLUSTERED 
(
	[member_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
